# App
APP_ENV=local
APP_PORT=8000
LOG_LEVEL=INFO

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=graph_rag_mlops

# Embeddings / LLM (we will use later)
OPENAI_API_KEY=PUT_YOUR_KEY_HERE

# Vector store backend (later)
VECTOR_BACKEND=faiss   # faiss|azure_search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX_NAME=
